# virtual environment
dbt_lineage_tool_env/
venv/
.env

# Python cache
*__pycache__/
*.pyc
*.json

# dbt artifacts (optional if you don’t want to track)
dbt_project/target/
dbt_project/logs/
dbt_project/dbt_packages/

# OS files
.DS_Store